.timer-input-widget,
.timer-output-widget {
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.timer-output-widget {
  background-color: #f9f9f9;
}

#startTimer, #stopTimer, #clearTimer {
  margin: 5px;
}
